// Change the default image for daisyUI cards
figure {
	img {
		width: max-content;
		max-height: 15rem;
		min-height: 8rem;
		object-fit: scale-down;
	}
}

@media (min-width: 1921px) {
	figure {
		img {
			max-height: 25rem;
		}
	}
}
