.multi-line-truncate {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media (max-width: 639px) {
	.multi-line-truncate {
		-webkit-line-clamp: 1;
	}
}

.single-line-truncate {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.vote-arrow {
	font-size: 2rem;
}

@media (min-width: 1921px) {
	.vote-arrow {
		font-size: 3rem;
	}
}

@media (min-width: 2561px) {
	.vote-arrow {
		font-size: 3.5rem;
	}
}

.view-count {
	font-size: 1.5rem;
}

@media (min-width: 1921px) {
	.view-count {
		font-size: 3rem;
	}
}

.not-found-404 {
	font-size: 9rem;
}

@media (min-width: 1921px) {
	.not-found-404 {
		font-size: 15rem;
	}
}

.variable-font-size {
	font-size: 1.2rem;
}

@media (min-width: 1024px) {
	.variable-font-size {
		font-size: 1rem;
	}
}

@media (min-width: 1921px) {
	.variable-font-size {
		font-size: 1.2rem;
	}
}

@media (min-width: 2100px) {
	.variable-font-size {
		font-size: 1.4rem;
	}
}
@media (min-width: 2561px) {
	.variable-font-size {
		font-size: 1.8rem;
	}
}
